@page "/game"
@rendermode InteractiveServer

@if(!_gameStarted)
{
    <button @onclick="StartNewGame">Play</button>
    <button>High Scores</button>
    <button>How to Play</button>
}
else
{
    <GameBoard />
}

@code {
    private bool _gameStarted = false;

    private void StartNewGame()
    {
        _gameStarted = true;
    }
}
