body {
  font-family: "Press Start 2P", serif !important;
}

.game-card {
  height: 5rem;
  padding: 0.25rem;
  text-align: center;
  display: block;
  position: relative;
  cursor: pointer;
  /*width: 10rem;*/
  width: 100%;
  z-index: 50;
}

.game-card-body {
  height: 100%;
  width: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: .4s ease-in-out;
  /*background: #F0F0F0;*/
}

.selected, .matched {
  transform: rotateY(180deg);
}

.matched {
  animation: 1s matchAnimation ease-in-out;
}

.front, .back {
  border: 0.025rem solid #0A0A0A;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  transform: rotateY(-180deg);
}

.back {
  transform: rotateX(0);
}

.memory-game-logo {
  max-width: 10rem;
}

@keyframes matchAnimation {
  0% {
    background: #bcffcc;
  }
  100% {
    background: #ffffff;
  }
}
